.gallery {
    background-color: white;
    height: 300px;
    /* padding: 10px; */
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px; 
}
.output{
    height: 60px;
    font-size: 0.8rem;
}
.error{
    color: var(--error);
}
.progress-bar{
    height: 5px;
    background: green;
    margin-top: 20px;
}

form{
    margin: 30px auto 10px;
    text-align: center;
}
label input{
    height: 0;
    width: 0;
    opacity: 0;
}
label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid blueviolet;
    border-radius: 50%;
    margin: 10px auto;
    line-height: 30px;
    color: blueviolet;
    font-weight: bold;
    font-size: 24px;
    margin-top: 50px;
}
label:hover{
    background: blueviolet;
    color: white;
  
}
#center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}
@media (max-width: 820px) {
    .gallery{
        height: 250px;
      border-radius: 5px;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
    }
}