/* body style */
#center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px
}
#past-event{
    background-color : white;
    margin: 10px;
}
.past_event {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 20px;
    flex-direction: column;
    display: flex;
    text-align: justify;
}
#testimony{
    height: 350px;
    background-color : white;
    margin: 20px;
    border: 0.3px solid rgba(187, 181, 181, 0.61);
    box-shadow: 10px 10px rgba(187, 181, 181, 0.61);
    padding-top: 20px;
    padding-left: 20px;
  }

@media (max-width: 988px) {

    .past_event{
      justify-content: center;
      text-align: start; 
    }
  
}
  