.hero{
    width: 100%;
    height: 90vh;
    background-size: cover;
}
.hero::before{
  display: block;
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 90vh;
  background-color: #0700008a;
  
}
.button_position{
  position: absolute;
  left: auto;
  right: auto;
  top: 65vh;
}
#slide{
  background-color : transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: -70px;
}
#indicator{
    position: absolute;
    background-color : transparent;
    top: 85vh;
}
@media (max-width: 988px) {
    .hero{
      height: 70vh;
    }
    .hero::before{
      height: 70vh;
    }
    .image_container{
      height: 400px;
    }
    #slide{
      height: 300px ; 
    }
    #slide{
      height: 300px ; 
    }
    #indicator{
      top: 65vh;
    }
    .button_position{
      top: 50vh;
    }
}