.right {
    /* background-image: url('../../assets/images/1.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .mask {
    background-color: rgba(0, 0, 0, 0.514);
} */

@keyframes slide-left {
    0% {
        display: block;
        position: relative;
        margin-left: -100%;
        opacity: 0;
    }
    100% {
        transform: none;
    }
}

@keyframes slide-right {
    0% {
        z-index: 1;
        transform: translateX(-100%);
    }
    100% {
        transform: none;
        /* opacity: 1; */
    }
}

