/* :root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

.carousel-indicators li {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
#font {
  color: white;
}
a:hover{
  color: aqua;
}
NavLink:active{
  color: #000;
}
a {
  padding: 10px;
  font-size: 14px;
  font-style: unset;
}
#container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextCont{
  top: 50%;
  transform: translateY(-50%);
  
}
#center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px
}
#event{
  height: 350px;
  background-color : blue;
  margin: 10px;
}
#past-event{
  background-color : white;
  margin: 10px;
}
#testimony{
  height: 350px;
  background-color : white;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 10px 10px rgba(187, 181, 181, 0.61);
  padding-top: 20px;
  padding-left: 20px;
}

#slide{
  height: 520px;
  background-color : transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#indicator{ 
  background-color : transparent;
  position: absolute;
  bottom: 20px;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
.menu-toggle:checked + #menu {
  display: block;
}
.multislide{
  height: 100%; 
  background-color: white;
  margin: 22px;
}
.video{
  height: 100%;
  width: 100%;
}
.gallery {
  background-color: white; 
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px; 
}

#nav_border{
  border-style: solid white;  
}
.carousel{
  width: 100%;
  height: 630px;
  background-size: cover;
}

.past_event {
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 20px;
  flex-direction: column;
  display: flex;
  text-align: justify;
}

.shift{
  margin-left: 750px;
}
.sec_shift{
  margin-left: 50px;
}

@media (max-width: 988px) {
  .carousel{
  height: 400px;
  }
  .image_container{
    height: 400px;
  }
  #footer-font {
    font-size: 10px;
  }
  .corner{
    height: 250px;
    border-radius: 10px;
  }
  .cornertext{
    height: 350px;
  }
  #slide{
    height: 300px ; 
  }
  .past_event{
    justify-content: center;
    text-align: start; 
  }

}

@media (max-width: 1105px) {
  .shift{
    margin-left: 5px;
  }
  .sec_shift{
    margin-left: 5px;
  }
}

@media (max-width: 312px) {
  #footer-font {
    font-size: 6px;
  }
  .gallery{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.image_container{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}


form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid blueviolet;
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: blueviolet;
  font-weight: bold;
  font-size: 24px;
  margin-top: 50px;
}
label:hover{
  background: blueviolet;
  color: white;

}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}
 
.progress-bar{
  height: 5px;
  background: green;
  margin-top: 20px;
}
 
.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
} */
