.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
  }
  
  .side-drawer.open {
    transform: translateX(0);
  }

.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    top:0;
}

@media (min-width: 450px) {
  .sidebar_header{
    height: 350px;
  }
}

@media (min-width: 769) {
    .side-drawer {
        display: none;
    }

}
.sidebar_header{
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.drawerlist {
  display: flex;
  flex-direction: row;
  height: 45px;
  align-items: center;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 14px;
}
.icon{
  height: 27px;
  width: 27px;
  margin-left: 10px;
  margin-right: 25px;
}
.backicon{
  height: 30px;
  width: 30px;
  cursor: pointer;
  color:black;
}

