.toolbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0700008a;
    height: 65px;
}
.whitetoolbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 65px;
}
.toolbar__navigation {
    display: flex;
    align-items: center;
    height: 100%;
    padding:  0 1rem;
}
.toolbar__logo{ 
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.whitetoolbar__logo{ 
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#whitelogo {
    color: black;
}
.spacer {
    flex:1;
}
.toolbar__navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: -7px;
}
.toolbar__navigation-items li {
    padding: 0 0.5rem ; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 988px) {
    .toolbar__navigation-items{
        display: none;
        background-color: white;
    }
    .toolbar{
        background-color: #0700008a;
        display: flex;
        justify-content: center;
    }
    .whitetoolbar{
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 988px) {
    .button{
        display: none;
    }
}

#border {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    border-radius: 3px; 
    text-decoration: none;
    color: white;
    /* font-size: 14px; */
    
} 
#whiteborder{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    border-radius: 3px; 
    text-decoration: none;
    color: black;
}
.indicator {
    font-size: 30px;
    color: transparent;
    text-decoration: none;
    margin-top: -50px;
    letter-spacing: -1px;
    background-color: transparent;
}
div.indicator:active{
    background-color: white;
}
